<link rel="stylesheet" href="test.css">

p {color: blue;}

#special {color: blue;}

.warning {color: green;}

img[src] {border: 2px solid black;}

a:hover {color: green;}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.container img {
    display: block;
    margin: 20px auto;
    width: 300px; /* optional */
}

.container a {
    display: inline-block;
    margin-top: 20px;,
    text-align: center;
}
